.main {

}

.rounded-default {
    -fx-background-radius: 8;
}

.padding-default {
    -fx-padding: 8;
}

.actionable {
    -fx-cursor: hand;
}

.underline_hover:hover {
    -fx-underline: true;
}

.event-card {
}

.event-card .sub-header {
    /*-fx-padding: 0; !* move 1 to the left and 1 up *!*/
    /*-fx-background-color: firebrick; !* remove bg color since sometimes, not all cards, there is a very small amount of visible bg color on the right *!*/
}

.event-card .container {
    -fx-padding: 0 0 8 0;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
}



.nav-button {
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.nav-icon {
    -fx-icon-color: black;
}

.nav-button:active {
    -fx-background-color: #009FE3;
}

.nav-button:hover {
    -fx-background-color: transparent;
}

.nav-button:active:hover {
    -fx-background-color: #009FE3;
}

.nav-text:active,
.nav-text:active:hover,
.nav-icon:active,
.nav-icon:active:hover {
    -fx-text-fill: white;
    -fx-icon-color: white;
}

.nav-button:hover .nav-text,
.nav-button:hover .nav-icon {
    -fx-text-fill: #009FE3;
    -fx-icon-color: #009FE3;
}

.nav-button:active:hover .nav-text,
.nav-button:active:hover .nav-icon {
    -fx-text-fill: white;
    -fx-icon-color: white;
}