.ticket-table {
    -fx-background-color: white;
}

.ticket-table .table-view {
    -fx-table-cell-border-color: transparent;
}

.ticket-table .table-row-cell {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: black;
}

.ticket-table .column-header {
    -fx-background-color: transparent;
}

.ticket-table .column-header .label {
    -fx-text-fill: black;
}

.ticket-table .table-cell {
    -fx-text-fill: black;
}

.ticket-table .table-cell:odd {
    -fx-background-color: #f4f4f4; /* Alternate row color */
}